#editor-toolbar {
    border-bottom: 1px solid #ddd;
}

.ql-toolbar button:hover {
    background-color: #f3f3f3;
}

.ql-toolbar .ql-picker {
    margin-right: 10px;
}

.ql-toolbar .ql-picker-options {
    box-shadow: none;
}

.ql-toolbar .ql-picker-item:hover,
.ql-toolbar .ql-picker-item.ql-selected {
    background-color: #f3f3f3;
}