.button-group-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;

    .button-group-item {
        border: none;
        width: auto;
        background-color: transparent;
        box-shadow: none;

        &:hover {
            background-color: #E8E8EA !important;
            margin: 0;
        }

        .button-icon {
            color: #FA5E92;
            font-size: 18px;
        }

        .delete-button {
            color: #596773 !important;
        }
    }
}