.button-group-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;

    .button-group-item {
        border: none;
        width: auto;
        background-color: white;

        &:hover {
            background-color: #F5F5F5;
            margin: 0;
        }


    }
}